
.hero {
    background-color: var(--light-blue-color);
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.hero-overlay h1 {
    color: var(--dark-green);
    margin-bottom: 10px;
}

.section {
    padding: 40px 20px;
}

.resource-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.resources h2{
    margin-bottom: 20px;
}

.resource-item {
    background-color: var(--white-color);
    border: 1px solid var(--dark-green);
    border-radius: 8px;
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.resource-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.resource-item img {
    width: 100%;
    height: auto;
}

.resource-item h3 {
    margin: 15px 10px;
}

.resource-item p {
    margin: 15px 10px;
}

.read-more-btn {
    display: block;
    background-color: var(--primary-green-color);
    color: var(--white-color);
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.read-more-btn:hover {
    background-color: var(--secondary-green-color);
    transform: translateY(-2px);
}

.input-group {
    display: flex;
    margin: 20px 0;
}

.input-group input {
    flex: 1;
    padding: 12px;
    border: 2px solid var(--dark-green);
    border-radius: 4px 0 0 4px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: var(--primary-green-color);
}

.input-group button {
    padding: 12px;
    background-color: var(--primary-green-color);
    color: var(--white-color);
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.input-group button:hover {
    background-color: var(--secondary-green-color);
    transform: translateY(-2px);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .resource-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .resource-item {
        flex: 1 1 100%;
    }

    .input-group {
        flex-direction: column;
    }

    .input-group input {
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .input-group button {
        border-radius: 4px;
    }
}

